/*
	99Lime.com HTML KickStart by Joshua Gatcke
	kickstart-layout.css
	
	// Google Fonts
	font-family: 'Comfortaa', cursive; normal 400, bold 700
	font-family: 'Arimo', sans-serif; normal 400, bold 700
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700|Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: 'Comfortaa', "Trebuchet Ms", arial, verdana, sans-serif;
}
h1{margin:0 0 15px 0;font-size:2.5em;text-align:center;}
h3{margin:0 0 5px 0;}
thead th,
tbody th{
font-family: 'Comfortaa', "Trebuchet Ms", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: 'Comfortaa', "Trebuchet Ms", arial, verdana, sans-serif;
}

.sf-menu{
font-family: 'Comfortaa', "Trebuchet Ms", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
background:#efefef url(img/grid.png) repeat center top;
font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
width:850px;/*960*/
background:#fff;
margin:30px auto 30px auto;
padding:20px 20px 0;
border:1px solid #ccc;
}


#footer{
text-align:center;
padding:20px;
margin:0 -20px;
background:#efefef;
border-top:1px solid #ccc;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
}

#link-top{
	float:right;
	color:#666;
	text-decoration:none;
	display: inline-block;
	padding:5px 10px;
	background:#e5e5e5;
	line-height:100%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
#canvas{border: 5px gray solid;margin-bottom:20px;}
.top{height:20px;padding: 0 5px;background-color:#350e58;color:#ffffff;border-top: 5px gray solid;border-right: 5px gray solid;border-left: 5px gray solid;}
.top .level{height:20px;float:left;}
.top .score{height:20px;float:right;}
